/* font-family: 'Lato', sans-serif; */
/* styles reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Lato', sans-serif;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* common styles */
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}





body{
    background-color: #222;
    background-image: url("img/f.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    max-width: 980px;
    margin: 0px auto;
    padding: 0 15px;
}

.header{
    padding: 45px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;

}

.menu li{
    margin: 0 0 0 40px;
}

.menu a{
    font: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
    transition: all 1s;
}
.menu a:hover{
    color:aquamarine
}

.banner{
    min-height: 540px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h2{
    font-size: 48px;
    line-height: 53px;
    text-align: center;
    color: #fff;
    max-width: 465px;
    margin: 0 auto;
}

.banner a{
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgb(9, 236, 172);
    color: rgb(9, 236, 172);
    padding: 10px 26px;
    border-radius: 3px;
    margin:  29px 0px 0px 0px;
    display: inline-block;
    transition: all 1s;
}
.banner a:hover{
    border: 1px solid aqua;
    color: aqua;
    font-size: 15px;
}

.works{
    padding: 49px 0px 100px 0px;
}

.works h2{
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: white;
    margin-bottom: 33px;
}

.ImageContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.ImageContainer img{
    filter: blur(2px) grayscale(100%);
    width: calc(100%/3 - 40px/3);
    transition: all 1s;
}
.ImageContainer img:hover{
    filter: blur(0px) grayscale(0%);
    width: calc(100%/3 - 40px/3);
    transition: all 1s;
}


.footer{
    background-color: #222;
    padding: 35px 0px 37px 0px;
    
}
.footer .footerLogo{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #c2c2c2;
    margin-bottom: 10px;
}

.footer .footerPowered{
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    color: #999;

}

@media(max-width:768px){
    .ImageContainer img{
        width:calc(100%/2 - 10px);
    }
}

@media(max-width:550px){
    .ImageContainer img{
        width:100%;
    }
}

@media(max-width:425px){
    .menu a{
        font-size: 10px;
        letter-spacing: 0px;
    }

    .menu li{
        margin: 0px 0px 0px 10px;
    }
    .banner h1{
        font-size: 40px;
    }
 
}